<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912436399609-odi4rvehktnoglrn66kl1tht6arvrv6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912436399609-odi4rvehktnoglrn66kl1tht6arvrv6m</string>
	<key>API_KEY</key>
	<string>AIzaSyAxTnv_1fiiw9CA8HsRl1apb_8xIcmpfG4</string>
	<key>GCM_SENDER_ID</key>
	<string>912436399609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.repositoryRiverpodMvvm</string>
	<key>PROJECT_ID</key>
	<string>riverpod-mvvm-93799</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-mvvm-93799.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912436399609:ios:e3950c740847d7bad1c128</string>
</dict>
</plist>